body {
    background-image: linear-gradient(to right, #ff0000, #2933c2);
}

    .form{
        width: 400px;
        margin: auto;
        padding-top: 40px;
    }

    .card{
        box-shadow: 1px 1px 5px #000;
        background-color: black;
        padding: 30px;
        border-radius: 5px;
    }

    .card-top{
        text-align: center;
    }

    .card-group{
        margin-bottom: 10px;
    }

    .card-group > label{
        width: 100%;
        color: rgb(75, 75, 75); 
        display: block;
    }
    .card-group > input{
        border-radius: 5px;
        outline: 0;
        width: 100%;
        height: 25px;
        padding: 5px;

    }    

    .card-group > button{
        background-image: linear-gradient(to right, #ff0000, #2933c2);
        width: 100%;
        border-radius: 30px;
        padding: 15px;
        color: white;
        border: 0px;
        outline: 0px;
    }

    .btn button:hover{
        background-image: linear-gradient(to right, #990000, #202896);
    }
    
    .imglogin{
        border-radius: 50px;
        width: 100px;
    }

    .title{
        background-image: linear-gradient(to right, #ff0000, #2933c2);
        color: black;
    }

    H1{
        border-radius: 30px;
        padding: 3px;
        text-align: center;
        
    }

    H2{
        color: black;
        background-image: linear-gradient(to right, #ff0000, #2933c2);
        border-radius: 30px;
        padding: 5px;
    }

    .card-groupp > button{
        background-image: linear-gradient(to right, #ff0000, #2933c2);
        border-radius: 30px;
        margin-bottom: 10px;
        outline: 0px;
        height: 25px;
    }

    .btnn button:hover{
        background-image: linear-gradient(to right, #990000, #202896);
    } 

    .card-groupp > input{
        border-radius: 5px;
        outline: 0;
        width: 100%;
        height: 25px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .card-groupp > label{
        width: 100%;
        color: rgb(75, 75, 75); 
        display: block;
    }
